# Java / Maven
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Node / React
node_modules/
build/
.env
.env.local
npm-debug.log*

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Spring
application.properties
!application-example.properties
